<!-- 模板中对应的css -->
<link href="assets/js/iCheck/flat/all.css" rel="stylesheet">
<!-- 新加原生css -->
<link rel="stylesheet" href="assets\css\myApp\member\inform.css"/>

<!-- 头条开始 -->
<div class="row">
    <div id="paper-top">
        <div class="col-lg-3">
            <h2 class="tittle-content-header">
                <span class="entypo-comment"></span>
                <span>通知</span>
            </h2>
        </div>
        <div class="col-lg-9">
            <div class="devider-vertical visible-lg"></div>
            <div class="tittle-middle-header visible-lg">
                <div class="alert">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <span class="tittle-alert entypo-info-circled"></span> 欢迎回来,&nbsp;
                    <strong style="font-family: san-serif;" ng-bind="main.user.realName"></strong>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 头条结束 -->
<!-- 主体内容开始 -->
<div class="row ">
    <div class="col-sm-12">
        <div class="nest" id="tabClose">
            <div class="body-nest" id="tab">
                <ul class="nav nav-tabs" role="tablist">
                    <li ng-click="inform.reset();a=false;d=false;pplListForm.$setPristine();" role="presentation" class="active"><a href="/#my-inform" aria-controls="my-inform" role="tab" data-toggle="tab">我的通知</a></li>
                    <li role="presentation"><a href="/#informing" aria-controls="informing" role="tab" data-toggle="tab">发布通知</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="informing">
                        <div style="overflow:hidden;">
                            <!-- 左边-表单栏开始 -->
                            <form name="pplListForm" role="form" class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="">发送给</label>
                                    <div class="col-sm-6 controls">
                                        <input name="sendToInp" ng-model="sendToInp" type="text" id="chosenPpl" class="form-control send-to" placeholder="点击选择人员" data-toggle="modal" />
                                        <input ng-hide="true" type="text" id="chosenPplId" class="form-control send-toId" placeholder="点击选择人员Id" data-toggle="modal" data-target=".choose-staff" />
                                        <div  ng-show="inform.getValue('chosenPplId').length==0?a:false" class="help-block alert alert-danger">
                                            请选择人员！
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="">通知内容</label>
                                    <div class="col-sm-6 controls">
                                        <textarea name="absenceReasonTxtA" ng-required="true" ng-model="absenceReasonTxtA" id="absenceReasonTxtA" cols="30" rows="10" placeholder="请填写具体的通知" class="form-control"></textarea>
                                        <div ng-show="pplListForm.absenceReasonTxtA.$dirty&&pplListForm.absenceReasonTxtA.$invalid" class="alert alert-danger help-block">
                                             通知内容不能为空！
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group sureBtn">
                                    <label class="col-sm-5 control-label"></label>
                                    <div class="col-sm-6">
                                        <button type="button"  ng-disabled="pplListForm.absenceReasonTxtA.$dirty&&pplListForm.$invalid||pplListForm.absenceReasonTxtA.$dirty?d:true" ng-click="inform.getValue('chosenPpl').length==0?a=true:inform.checkAbsenceApply()" class="btn btn-info">发布通知</button>
                                    </div>
                                </div>
                            </form>
                            <!-- 左边-表单栏结束 -->
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane active" id="my-inform">
                        <div style="overflow:auto;">
                            <div class="col-sm-6 box-wrap" style="min-width: 308px;">
                                <div class="col-sm-12 reportRaise">
                                    <!-- 我收到的通知 开始 -->
                                    <h4>发布的通知<span ng-bind="inform.recordCount_R" class="badge" style="font-size: 17px;line-height: 18px; padding: 0 4px;"></span></h4>
                                    <div class="reportRaise_wrap" id="reportInv_wrap_R">
                                        <div id="allHeightATime_R">
                                            <div ng-if="inform.absenceData_R.length==0">
                                                暂无数据
                                            </div>
                                            <div ng-repeat="data in inform.absenceData_R" class="list-group">
                                                <a class="list-group-item">
                                                    <p ng-bind="data.content" class="list-group-item-heading"></p>
                                                    <div class="row" >
                                                        <div class="col-sm-8 pull-left">
                                                            <span class="label pull-left">From</span>
                                                            <span  ng-bind="data.publisher"  class="sent-to col-sm-10" title="{{inform.showApplyName(data.applys)}}"></span>
                                                        </div>
                                                        <div  class="col-sm-4 pull-right">
                                                            <p ng-bind="data.publishTime"></p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 我收到的通知结束 -->
                                </div>
                            </div>
                            <div class="col-sm-6 box-wrap" style="min-width: 308px;">
                                <div class="col-sm-12 reportInv">
                                    <!-- 我发布的通知 开始 -->
                                    <h4>收到的通知<span ng-bind="inform.recordCount_P" class="badge" style="font-size: 17px;line-height: 18px; padding: 0 4px;"></span></h4>
                                    <div class="reportInv_wrap" id="reportInv_wrap_P">
                                        <div id="allHeightATime_P">
                                            <div ng-if="inform.absenceData_P==0">
                                                暂无数据
                                            </div>
                                            <div  ng-repeat="data in inform.absenceData_P" class="list-group">
                                                <a class="list-group-item">
                                                    <p ng-bind="data.content" class="list-group-item-heading"></p>
                                                    <div class="row">
                                                        <div class="col-sm-8 pull-left">
                                                            <span class="label pull-left">To</span>
                                                            <span  ng-bind="inform.showApplyName(data.receivers)"  class="sent-to col-sm-10" title="{{inform.showApplyName(data.applys)}}"></span>
                                                        </div>
                                                        <div class="col-sm-4 pull-right">
                                                            <p ng-bind="data.publishTime"></p>
                                                        </div>
                                                    </div>
                                                </a>

                                            </div>
                                        </div>
                                    </div>

                                    <!-- 我参与的报名结束 -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade choose-staff" id="chosen_per">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title entypo-users">&nbsp;&nbsp;人员列表</h4>
      </div>
      <div class="modal-body">
        <div class="staff-list-wrap">
            <div class="skin skin-flat">
                <ul class="list" ng-init="inform.handlePplList()">
                    <form id="pplForm_inform">
                        <li ng-repeat="ppl in inform.pplList" ng-rended="inform.rended()" >
                            <input type="checkbox" tabindex="{{ppl.id}}" id="flat-checkbox-{{ppl.id}}" ng-value="ppl.name">
                            <label for="flat-checkbox-{{ppl.id}}">
                                <span ng-bind="ppl.name" class="staff-name"></span>
                                <span ng-bind="ppl.position" class="staff-position"></span>
                                <span ng-hide="true" class="pplId" ng-bind="ppl.id"></span>
                            </label>
                        </li>
                    </form>
                </ul>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>

<!-- MAIN EFFECT -->
<script src="assets/js/wizard/lib/jquery.cookie-1.3.1.js"></script>
<script type="text/javascript" src="assets/js/iCheck/jquery.icheck.js"></script>
<script script="assets/js/myApp/member/easyscroll.js"></script>

<script type="text/javascript">
    $(function() {
       //将选中的任选显示到文本框中
        $('.choose-staff').on("hidden.bs.modal",function(){
            var str = "",idArr=[];
            $('div .checked').each(function(idx){
                if(idx < $('div .checked').length-1){
                    str += $(this).parent().find('.staff-name').html() + "、";
                    idArr.push($(this).parent().find('.pplId').html());
                }else{
                    str = str + $(this).parent().find('.staff-name').html();
                    idArr.push($(this).parent().find('.pplId').html());
                }
            });
            $('.send-to').val(str);
            $('.send-toId').val(idArr);
        });
    });
</script>

