<link href="assets/js/validate/validate.css" rel="stylesheet">


<!--TITLE -->
<div class="row">
    <div id="paper-top">
        <div class="col-lg-3">
            <h2 class="tittle-content-header">
                <span class="fontawesome-cogs"></span>
                <span>修改密码</span>
            </h2>

        </div>

        <div class="col-lg-9">
            <div class="devider-vertical visible-lg"></div>
            <div class="tittle-middle-header visible-lg">

                <div class="alert">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <span class="tittle-alert entypo-info-circled"></span>
                    欢迎回来,&nbsp;
                    <strong>Dave mattew!</strong>
                </div>
            </div>

        </div>
    </div>
</div>
<!--/ TITLE -->


<div class="row">
    <div class="col-sm-12">
        <div class="nest" id="validationClose">

            <div class="body-nest" id="validation">
                <div class="form_center">
                    <form action="" id="modify-pwd-form" class="form-horizontal" name="modifyPwd">
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label" for="oldPwd">旧的密码</label>
                                <div class="controls">
                                    <input type="password" class="form-control" name="oldPwd" id="oldPwd" minlength="6" ng-model="password.user_member_psw.password">
                                    <div ng-show="modifyPwd.oldPwd.$dirty && modifyPwd.oldPwd.$error.minlength" class="help-block alert-danger alert">
                                        密码长度至少6位
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="newPwd">新的密码</label>
                                <div class="controls">
                                    <input type="password" class="form-control" name="newPwd" id="newPwd" minlength="6" ng-model="password.user_member_psw.newPassword">
                                    <div ng-show="modifyPwd.newPwd.$dirty && modifyPwd.newPwd.$error.minlength" class="help-block alert-danger alert">
                                        密码长度至少6位
                                    </div>
                                    <div ng-show="modifyPwd.newPwd.$dirty && modifyPwd.oldPwd.$dirty && password.user_member_psw.newPassword===password.user_member_psw.password" class="help-block alert-danger alert">
                                        新密码与旧密码不能一样
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="confirmPwd">确认密码</label>
                                <div class="controls">
                                    <input type="password" class="form-control" name="confirmPwd" id="confirmPwd" ng-model="confirmPassword">
                                    <div ng-show="modifyPwd.newPwd.$dirty && modifyPwd.confirmPwd.$dirty && confirmPassword!=password.user_member_psw.newPassword" class="help-block alert-danger alert">
                                        两次密码输入不一致
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions" style="margin:20px 0 0 0;">
                                <button type="button" class="btn btn-primary" ng-click="password.a_Password(password.user_member_psw)">提 交</button>
                                <button type="reset" class="btn" id="btn_reset" ng-click="password.resetPsw()">重 置</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<script type="text/javascript" src="assets/js/validate/jquery.validate.min.js"></script>-->

<!--<script>-->
<!--$(document).ready(function() {-->
    <!--//Validation-->
    <!--$('#modify-pwd-form').validate({-->
        <!--rules: {-->
            <!--oldPwd: {-->
                <!--minlength: 6,-->
                <!--required: true-->
            <!--},-->
            <!--newPwd: {-->
                <!--required: true,-->
                <!--minlength: 6-->
            <!--},-->
            <!--confirmPwd: {-->
                <!--equalTo: '#newPwd',-->
                <!--required: true-->
            <!--},-->
        <!--},-->
        <!--messages: {-->
            <!--oldPwd: {-->
                <!--minlength: '密码长度至少为6位',-->
                <!--required: '这是必填项'-->
            <!--},-->
            <!--newPwd: {-->
                <!--minlength: '密码长度至少为6位',-->
                <!--required: '这是必填项'-->
            <!--},-->
            <!--confirmPwd: {-->
                <!--equalTo: '两次输入不一样',-->
                <!--required: '这是必填项'-->
            <!--}-->
        <!--},-->
        <!--highlight: function(element) {-->
            <!--$(element).closest('.control-group').removeClass('success').addClass('error');-->
        <!--},-->
        <!--success: function(element) {-->
            <!--$(element).text('成功!').addClass('valid')-->
                <!--.closest('.control-group').removeClass('error').addClass('success');-->
        <!--}-->
    <!--});-->

    <!---->
<!--});-->
<!--</script>-->
